.main-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.right-section {
  display: flex;
  padding: 1em;
  align-items: flex-start;
  width: 95%;
}

.a {
  text-decoration:none
}
/* .content-section {
  width: 10%;
  display: center;
  flex-direction: column;
}
 */
.main-content {
  display: flex;
  justify-content: space-between;
}

.suggestions {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  flex-grow: 1;
}

.dashboard {
  .card-deck {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
  }

  .card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
  }

  .card-img-top {
    object-position: top;
    height: 150px;
    object-fit: cover;
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    margin: 0;
    color: #7853DB;
    a{
      color: #7853DB;
    }
  }

  .card-text {
    margin: 5px 0;
  }

  .map-section {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}


.emoticon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}



.search {
  display: flex;
}
