.main-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.right-section {
  display: flex;
  padding: 1em;
  align-items: flex-start;
}

.a {
  text-decoration:none
}
/* .content-section {
  width: 10%;
  display: center;
  flex-direction: column;
}
 */
.top-bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar button {
  background-color: #fff;
  border: 1px solid #ccc; /* ou none après test */
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #333; /* Couleur du texte */
  margin: 0 10px; /* Espacement entre les boutons */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.top-bar button:hover {
  background-color: #c5b0b0;
}


.main-content {
  display: flex;
  justify-content: space-between;
}

.suggestions {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  flex-grow: 1;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img-top {
  object-position: top;
  height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin: 0;
  color: #7853DB;
  a{
    color: #7853DB;
  }
}

.card-text {
  margin: 5px 0;
}

.emoticon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.map-section {
  width: 40%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.search {
  display: flex;
}
