<<<<<<< HEAD
<h1><%= @user.last_name %></h1>

<ul>
  <% @other_users.each do |user| %>
    <li>
    <%= user %>
    </li>

  <% end %>

</ul>
=======
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
>>>>>>> master
