<div class="banner py-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('run.jpg') %>'); background-repeat: no-repeat; height: 850px; background-size: cover; background-position: center; color: white;">
</div>
<div class="over">
<%= link_to "Join", dashboard_path , class: "btnjoin rounded-8", style: "text-decoration: none;" %>
<img src="<%= asset_path('logofinal.png') %>" alt="Logo" class="logo">
</div>
