.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 30px;
}

.filter-button {
  display: flex;
  gap: 10px;
}

.sort-button {
  background-color: #e0dada;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sort-button:hover {
  background-color: #a49595;
}

.arrow-icon {
  font-size: 18px;
  margin-right: 10px;
}

.filter-text {
  text-decoration: none;
}
