.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-header {
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-details {
  list-style: none;
}
