.profile-container {
  margin-top: 40px;
}

.images-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
}

.images-container img:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 20px 0px 0px 20px;
}

.images-container img:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.images-container img:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
  border-radius: 0px 20px 0px 0px;
}

.images-container img:nth-child(4)  {
  grid-area: 2 / 2 / 3 / 3;
}
.images-container img:nth-child(5)  {
  grid-area: 2 / 3 / 3 / 4;
  border-radius: 0px 0px 20px 0px;
}

.images-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.runner-info img {
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.runner-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding-top: 70px;
  margin-left: 90px;
  .runner-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .runner-detail p {
    margin: 0px;
    gap: 1em;

  }
}

button {
  background-color: #6200EA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #503697;
  color: white;
}

.btnshow{
  background-color: #6200EA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 30px;

}

.btnshow:hover{
  background-color: #503697;
  color: white;
}

.buttonshowaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 50px;
}

.info{
  display: flex;
  border: black;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
    p{
      padding-left: 15px;
    }
}

.infofinal{
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
  margin-bottom: 20px;
}

.btnshowmeting{
  background-color: #6200EA;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px;
  margin-top: 20px;
  text-decoration: none;
}

.btnshowmeting:hover{
  background-color: #503697;
  color: white;
}

.relation-container{
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}


.Medals-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.preferences{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

.images-iteration:nth-child(1){
  grid-row: 1 / span 2;
}

.all{
  display: flex;
}

.iconshow{
  width: 1em;
  display: flex;
  justify-content: center;
}

.btnchatroom{
  background-color: #6200EA;
  color: white;
  padding: 6px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btnchatroom:hover{
  background-color: #503697;
  color: white;
  text-decoration: none;
}

.string-optional{
  padding-top: 20px;
  padding-bottom: 5px;
}

.avatar-container{
  position: relative;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  display: block;
}

.overlay-text {
  position: absolute;
  left: 53%;
  top: 4%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  color: purple;
  font-weight: bold;
}

.placementbutton {
  margin-top: 20px;
  text-align: center; /* Centrer le bouton */
}

.scroll-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000; /* Assurez-vous que la flèche est au-dessus des autres éléments */
}

.scroll-arrow img {
  width: 50px; /* Ajustez la taille selon vos besoins */
  height: 50px;
  transition: transform 0.2s;
}

.scroll-arrow img:hover {
  transform: scale(1.1); /* Agrandir légèrement au survol */
}
