.profile-container {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.images-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 20px;
  object-fit: cover;
}

.images-container img {
  width: 350px;
  height: auto;
  object-fit: cover;

}

.photo2 {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 20px;
  object-fit: cover;

}


.runner-info img {
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;

}

.runner-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  .runner-detail {
    display: flex;
    align-items: center;
  }
  .runner-detail p {
    margin: 0px;
  }
}

.details-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

button {
  background-color: #6200EA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #503697;
  color: white;
}

.btnshow{
  background-color: #6200EA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}

.btnshow:hover{
  background-color: #503697;
  color: white;
}

.buttonshowaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 50px;
}

.iconshow {
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
}


.info{
  display: flex;;
}

.btnshowmeting{
  background-color: #6200EA;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px;
  margin-top: 20px;
  text-decoration: none;
}

.btnshowmeting:hover{
  background-color: #503697;
  color: white;
}
