<div class="filter-bar">
   <div class="filter-button">
    <%= link_to dashboard_path(sort: 'city_asc'), class: 'sort-button' do %>
      City <i class="fas fa-arrow-up"></i>
    <% end %>
    <%= link_to dashboard_path(sort: 'city_desc'), class: 'sort-button' do %>
      City <i class="fas fa-arrow-down"></i>
    <% end %>
  </div>
  <div class="filter-button">
    <%= link_to dashboard_path(sort: 'pace_asc'), class: 'sort-button' do %>
     Pace <i class="fas fa-arrow-up"></i>
    <% end %>
    <%= link_to dashboard_path(sort: 'pace_desc'), class: 'sort-button' do %>
     Pace <i class="fas fa-arrow-down"></i>
    <% end %>
  </div>
</div>
